body {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  background: #3A4F7A;
  font-family: 'PT Serif', serif;
  }

footer {
  text-align: center;
  font-size: small;

}

a {
  color: #7B2869;
}




