.Dictionary section {
    background-color: #FFC6D3;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border: 1px solid #ddd;
    color: #333;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}